<div class="home-box scroll">
  <div class="video">
    <video autoplay loop id="bg" src="./assets/img/bgvideo.mp4" type="video/mp4"></video>
    <div class="overlay"></div>
    <audio controls autoplay loop id="ambient">
      <source src="./assets/img/ambient.wav" type="audio/wav" />
    </audio>
  </div>

  <div id="home" class="col f-center">
    <div class="audio flex f-center animated">
      <i ng-if="!audioOn" ng-click="switchAudio()" class="fas fa-microphone-slash"></i>
      <i ng-if="audioOn" ng-click="switchAudio()" class="fas fa-microphone"></i>
    </div>

    <img class="logo" src="../../assets/img/logo.svg" alt="THEMESIS" />
    <div class="row j-center">
      <a ng-click="scrollTo('teaser')" class="btn pri outline">VER TEASER</a>
      <a href="#" class="btn">visitar blog</a>
    </div>

    <div class="gradient"></div>

    <div class="social flex j-end a-center">
      <p>Síguenos en</p>
      <img src="./assets/img/facebook.svg" alt="facebook" />
      <img src="./assets/img/insta.svg" alt="instagram" />
      <img src="./assets/img/twitter.svg" alt="twitter" />
      <img src="./assets/img/vimeo.svg" alt="vimeo" />
    </div>

    <div class="scroller"></div>
  </div>

  <div id="teaser" class="col f-center">
    <h1>teaser</h1>

    <iframe
      src="https://player.vimeo.com/video/322162668"
      frameborder="0"
      webkitallowfullscreen
      mozallowfullscreen
      allowfullscreen
    ></iframe>
  </div>

  <div id="sinopsis" class="col f-center">
    <h1>sinopsis</h1>
    <p>
      “Belva sobrevive atada a la prostitución. Marta no comprende la banalidad de quienes le rodean. Nancy es esclava
      de su pasado. Kaseem no logra encajar en su comunidad. Ante un mundo injusto, la suerte no se busca, se crea.”
    </p>
  </div>

  <div id="proyecto" class="col f-center">
    <h1>proyecto</h1>
    <div class="row j-center">
      <p>
        Themesis es un largometraje con trasfondo social. Es una idea original que pretende invitar al espectador a la
        reflexión. Atiende a situaciones cotidianas injustas y que pasan desapercibidas.
        <br /><br />
        La producción de este film está realizada principalmente por estudiantes del último curso del grado de Medios
        Audiovisuales del Tecnocampus Mataró de la UPF así como docentes de la misma institución.
      </p>
      <p>
        Themesis será el primer largometraje producido por miembros del TecnoCampus Mataró, centro adherido a la
        Universidad Pompeu Fabra. En paralelo a la actividad docente, al proyecto también se han sumado varios
        profesionales del sector audiovisual.
        <br /><br />
        Themesis es un film que no cuenta con recursos propios sino que se financiará con aportaciones de sus miembros y
        de todo aquellos mecenas, interesados en promover la cultura audiovisual, a través de Verkami: la mayor
        plataforma de Crowdfunding de Europa.
      </p>
    </div>
  </div>

  <div id="situacion" class="row j-center a-center">
    <h1>situación actual</h1>
    <p>
      Themesis se encuentra en fase de pre-producción.
      <br /><br />
      En este periodo se iniciará la recaudación de recursos del proyecto a través de la mayor plataforma online de
      Crowdfunding creativo en Europa: Verkami.
      <br /><br />
      La fecha de inicio de nuestro Verkami es el próximo 17 de mayo, estando presentes en el Salón del Cine y la Series
      de Barcelona donde hemos sido seleccionados a participar en las Jornada de Verkami en Vivo que se realizan durante
      el Salón.
      <br /><br />
      Podéis encontrar todos los detalles en la sección financiación
    </p>
  </div>

  <div id="financiacion" class="col a-center">
    <h1>financiación</h1>
    <p class="first">
      A pesar de que Themesis se define como una producción low cost, nuestra intención es crear una obra de calidad
      tanto técnica como artística en la que se necesitaran recursos monetarios.
      <br /><br />
      Por esta razón, se expondrá el proyecto en la plataforma online de crowdfunding Verkami: la mayor red de
      crowdfunding creativo de Europa y con el porcentaje de éxito más alto del mundo.
      <br /><br />
      Themesis estará recaudando recursos a partir del 17 de mayo en Verkami, fecha en la que hemos sido seleccionados
      para el Salón del Cine y las Series de Barcelona a participar en su Verkami en vivo.
    </p>

    <div class="row j-center">
      <div class="col a-center data">
        <i class="fas fa-box-open"></i>
        <p>
          Abriendo nuestro proyecto a la financiación por mecenazgo.
        </p>
      </div>

      <div class="col a-center data">
        <i class="far fa-calendar-alt"></i>
        <p>
          40 días por delante que marcarán nuestro destino.
        </p>
      </div>

      <div class="col a-center data">
        <i class="fas fa-child"></i>
        <p>
          ¡Esperamos tu granito de arena!
        </p>
      </div>
    </div>
  </div>
</div>
