<div ng-hide="hideCookies" class="cookies col a-center">
  <p>
    Esta web almacena cookies en tu ordenador para mejorar la página y para ofrecerte servicios más personalizados,
    tanto en esta web como en otros canales online. Consientes la recopilación de cookies y el tratamiento de las mismas
    en caso de continuar navegando por nuestra página web. Puedes acceder a nuestra Política de privacidad y cookies
    para obtener más información.
  </p>
  <button class="pri outline" ng-click="hideCookies = true">Continuar navegando</button>
</div>

<div class="home-box scroll">
  <div class="video">
    <video loop id="bg" src="./assets/img/bgvideo.mp4" type="video/mp4"></video>
    <div class="overlay"></div>
    <audio loop id="ambient">
      <source src="./assets/img/ambient.wav" type="audio/wav" />
    </audio>
  </div>

  <div id="home" class="col f-center">
    <div class="audio flex f-center animated">
      <i ng-if="!audioOn" ng-click="switchAudio()" class="fas fa-microphone-slash"></i>
      <i ng-if="audioOn" ng-click="switchAudio()" class="fas fa-microphone"></i>
    </div>

    <img class="logo" src="../../assets/img/logo.svg" alt="THEMESIS" />
    <div class="row j-center">
      <a ng-click="scrollTo('teaser')" class="btn pri outline">VER TEASER</a>
      <a href="#" class="btn">visitar blog</a>
    </div>

    <div class="gradient"></div>

    <div class="social flex j-end a-center">
      <p>Síguenos en</p>
      <img src="./assets/img/facebook.svg" alt="facebook" />
      <img src="./assets/img/insta.svg" alt="instagram" />
      <img src="./assets/img/twitter.svg" alt="twitter" />
      <img src="./assets/img/vimeo.svg" alt="vimeo" />
    </div>

    <div class="scroller"></div>
  </div>

  <div class="gradient-bg"></div>
  <div class="video-bg">
    <video loop id="bgDust" src="./assets/img/dust.mp4" type="video/mp4"></video>
  </div>

  <div id="teaser" class="col f-center">
    <h1>teaser</h1>

    <iframe
      src="https://player.vimeo.com/video/322162668"
      frameborder="0"
      webkitallowfullscreen
      mozallowfullscreen
      allowfullscreen
    ></iframe>
  </div>

  <div id="sinopsis" class="col f-center">
    <h1>sinopsis</h1>
    <p>
      “Belva sobrevive atada a la prostitución. Marta no comprende la banalidad de quienes le rodean. Nancy es esclava
      de su pasado. Kaseem no logra encajar en su comunidad. Ante un mundo injusto, la suerte no se busca, se crea.”
    </p>
  </div>

  <div id="proyecto" class="col f-center">
    <h1>proyecto</h1>
    <div class="row j-center">
      <p>
        Themesis es un largometraje con trasfondo social. Es una idea original que pretende invitar al espectador a la
        reflexión. Atiende a situaciones cotidianas injustas y que pasan desapercibidas.
        <br /><br />
        La producción de este film está realizada principalmente por estudiantes del último curso del grado de Medios
        Audiovisuales del Tecnocampus Mataró de la UPF así como docentes de la misma institución.
      </p>
      <p>
        Themesis será el primer largometraje producido por miembros del TecnoCampus Mataró, centro adherido a la
        Universidad Pompeu Fabra. En paralelo a la actividad docente, al proyecto también se han sumado varios
        profesionales del sector audiovisual.
        <br /><br />
        Themesis es un film que no cuenta con recursos propios sino que se financiará con aportaciones de sus miembros y
        de todo aquellos mecenas, interesados en promover la cultura audiovisual, a través de
        <a href="https://www.verkami.com/">Verkami</a>: la mayor plataforma de Crowdfunding de Europa.
      </p>
    </div>
  </div>

  <div id="situacion" class="row j-center">
    <h1>situación<br />actual</h1>
    <p>
      Themesis se encuentra en fase de pre-producción.
      <br /><br />
      En este periodo se iniciará la recaudación de recursos del proyecto a través de la mayor plataforma online de
      Crowdfunding creativo en Europa: <a href="https://www.verkami.com/">Verkami</a>. <br /><br />
      El próximo 17 de mayo estaremos presentes en el
      <a href="http://salondelcine.com/">Salón del Cine y la Series</a> de Barcelona donde hemos sido seleccionados a
      participar en las Jornada de <a href="https://www.verkami.com/">Verkami</a> en Vivo que se realizan durante el
      Salón. <br /><br />
      Podéis encontrar todos los detalles en la sección financiación
    </p>
  </div>

  <div id="financiacion" class="col a-center">
    <h1>financiación</h1>
    <p class="first">
      A pesar de que Themesis se define como una producción low cost, nuestra intención es crear una obra de calidad
      tanto técnica como artística en la que se necesitaran recursos monetarios.
      <br /><br />
      Por esta razón, se expondrá el proyecto en la plataforma online de crowdfunding
      <a href="https://www.verkami.com/">Verkami</a>: la mayor red de crowdfunding creativo de Europa y con el
      porcentaje de éxito más alto del mundo. <br /><br />
      Themesis ha sido seleccionado en el <a href="http://salondelcine.com/">Salón del Cine y la Series</a> de Barcelona
      para participar en su <a href="https://www.verkami.com/">Verkami</a> en vivo. Evento que tendrá lugar los próximos
      17, 18 y 19 de mayo.
    </p>

    <div class="row j-center">
      <div class="col a-center data">
        <i class="fas fa-box-open"></i>
        <p>
          Abriendo nuestro proyecto a la financiación por mecenazgo.
        </p>
      </div>

      <div class="col a-center data">
        <i class="far fa-calendar-alt"></i>
        <p>
          40 días por delante que marcarán nuestro destino.
        </p>
      </div>

      <div class="col a-center data">
        <i class="fas fa-child"></i>
        <p>
          ¡Esperamos tu granito de arena!
        </p>
      </div>
    </div>
  </div>

  <div id="partners" class="col a-center">
    <h1>partners</h1>

    <div class="row j-center">
      <div class="card col a-center">
        <img src="../../assets/img/maresme.svg" alt="Maresme Film Comission" />
        <div class="col a-center">
          <p>Maresme Film Comission</p>
          <a href="https://maresmefilmcommission.cat/" target="_blank">www.maresmefilmcommission.cat</a>
        </div>
      </div>

      <div class="card col a-center">
        <img src="../../assets/img/imagina.png" alt="Imagina Música" />
        <div class="col a-center">
          <p>Imagina Música</p>
          <a href="http://www.imaginamusica.net/" target="_blank">www.imaginamusica.net</a>
        </div>
      </div>

      <div class="card col a-center">
        <img src="../../assets/img/tecnocampus.svg" alt="Tecnocampus UPF" />
        <div class="col a-center">
          <p>Tecnocampus UPF</p>
          <a href="https://www.tecnocampus.cat/" target="_blank">www.tecnocampus.cat</a>
        </div>
      </div>
    </div>
  </div>

  <div id="contacto" class="col a-center">
    <h1>newsletter</h1>

    <div id="mc_embed_signup">
      <form
        action="https://themesisfilm.us20.list-manage.com/subscribe/post?u=d1419545207489595cf590838&amp;id=42889b6b8e"
        method="post"
        id="mc-embedded-subscribe-form"
        name="mc-embedded-subscribe-form"
        class="validate"
        target="_blank"
        novalidate
      >
        <div id="mc_embed_signup_scroll" class="col a-center">
          <h2>Suscríbete a nuestra newsletter</h2>
          <div class="mc-field-group">
            <input
              type="email"
              value=""
              name="EMAIL"
              class="required email"
              id="mce-EMAIL"
              placeholder="Correo electrónico"
            />
          </div>
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>
          <div style="position: absolute; left: -5000px;" aria-hidden="true">
            <input type="text" name="b_d1419545207489595cf590838_42889b6b8e" tabindex="-1" value="" />
          </div>
          <div class="clear">
            <input type="submit" value="SUSCRÍBETE" name="subscribe" id="mc-embedded-subscribe" class="pri outline" />
          </div>
        </div>
      </form>
    </div>

    <footer class="col a-center">
      <img class="logo" src="../../assets/img/logo.svg" alt="THEMESIS" />

      <div class="row j-center">
        <p class="contact">
          Más información en
          <a href="tel:0034654786751">654 78 67 51</a>
          /
          <a href="tel:0034620722811">620 72 28 11</a>
          o
          <a href="mailto:themesis.film@gmail.com">themesis.film@gmail.com</a>
          <a href="mailto:themesis.cast@gmail.com">themesis.cast@gmail.com</a>
        </p>
      </div>

      <div class="social flex a-center">
        <p>Síguenos en</p>
        <img src="./assets/img/facebook.svg" alt="facebook" />
        <img src="./assets/img/insta.svg" alt="instagram" />
        <img src="./assets/img/twitter.svg" alt="twitter" />
        <img src="./assets/img/vimeo.svg" alt="vimeo" />
      </div>
    </footer>
  </div>
</div>
