<div class="swiper-wrapper home-box">
  <section class="swiper-slide" id="paradis">
    <div class="overlay"></div>
    <div class="content col f-center">
      <img src="./assets/img/slim.svg" alt="Ornament" class="ornament" />
      <img
        src="./assets/img/logo.svg"
        alt="Paradís"
        class="logo"
        ng-click="slideTo()"
      />
      <h2>a guarantee of success for any event</h2>
      <div ng-hide="mobile" class="row j-center">
        <p>
          The brand PARADIS begins its history in 1967, dedicated to the
          catering of big events, for more than 50 years. In Europe it has
          successfully carried out more than 90,000 events, collaborates with
          more than 23 michelin stars, and throughout Europe it was the first
          company to obtain the certificate of sustainable catering of
          sosevents, awarded by the EU. It is the first company that applies the
          trazacalidad concept to the circle of the kitchen garden with
          excellence in Europe.
        </p>
        <p>
          To date it has more than 200 restoration projects, which include,
          among other restaurants, hotel F & B projects, cafeterias, F & B
          projects for fairs and central kitchens. Distinguished in the catering
          sector in Spain, its geographic dispersion of catering activities
          extends not only throughout the country, it is also punctually in
          Portugal, France, Andorra, Switzerland, Germany, Holland, New York
          (The first authentic food restaurant Spanish in 1990), Czech Republic,
          Mexico and China.
        </p>
      </div>
      <img src="./assets/img/slim.svg" alt="Ornament" class="ornament" />
    </div>
  </section>

  <section class="swiper-slide" id="since">
    <div class="title col">
      <h1>Since 1967</h1>
      <img class="ornament" src="./assets/img/title.svg" alt="Ornament" />
    </div>

    <div class="since">
      <div class="swiper-wrapper">
        <div class="swiper-slide row card armando">
          <div class="overlay"></div>

          <div class="card-content col j-end">
            <h2>Mr. Armando</h2>
            <p ng-hide="mobile">
              Mr. Armando begins his training in architecture. Life takes him by
              accident to take the reins of what will be his first restaurant,
              recovering a manorial estate and turning it into the current Can
              Amat complex. From that moment, he will always remain linked to
              the world of restoration.
              <br /><br />
              Forerunner in his time in this sector, he develops a novel concept
              in the creation of teams, totally opposed to the traditional
              "weekend bolo". At the same time, it starts up the Central
              Kitchen, starting in Spain and later in the rest of the world.
            </p>
          </div>
        </div>

        <div class="swiper-slide row card chengdu">
          <div class="overlay"></div>

          <div class="card-content col j-end">
            <h2>Armando & Chengdu</h2>
            <p ng-hide="mobile">
              Armando Bejar currently works as a consultant, adviser, mentor and
              is considered one of the leading experts in international
              catering.
            </p>
          </div>
        </div>

        <div class="swiper-slide row card friends">
          <div class="bg">
            <div class="swiper-wrapper">
              <img
                src="./assets/img/friends1.jpg"
                alt="Friends"
                class="swiper-slide"
              />
              <img
                src="./assets/img/friends2.jpg"
                alt="Friends"
                class="swiper-slide"
              />
              <img
                src="./assets/img/friends3.jpg"
                alt="Friends"
                class="swiper-slide"
              />
              <img
                src="./assets/img/friends4.jpg"
                alt="Friends"
                class="swiper-slide"
              />
            </div>
          </div>

          <div class="overlay"></div>

          <div class="card-content col j-end">
            <h2>Armando & Friends</h2>
            <p ng-hide="mobile">
              More than 50 years in the hotel trade, we have made us meet with
              many celebrities in the sector, both catering and other sectors
              related to catering and events.
            </p>
          </div>
        </div>
      </div>

      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </section>

  <section class="swiper-slide" id="catering">
    <div class="title col">
      <h1>Catering & Events</h1>
      <img class="ornament" src="./assets/img/title.svg" alt="Ornament" />
    </div>

    <div class="catering">
      <div class="swiper-wrapper">
        <div class="swiper-slide row card">
          <div class="bg">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img src="./assets/img/high1.jpg" alt="Catering" />
                <div class="overlay"></div>
                <h3>We create choreography<br />but we are not a ballet</h3>
              </div>
              <div class="swiper-slide">
                <img src="./assets/img/high2.jpg" alt="Catering" />
                <div class="overlay"></div>
                <h3>We create illusions<br />but we are not magicians</h3>
              </div>
              <div class="swiper-slide">
                <img src="./assets/img/high3.jpg" alt="Catering" />
                <div class="overlay"></div>
                <h3>We create style<br />but we are not poets</h3>
              </div>
              <div class="swiper-slide">
                <img src="./assets/img/high4.jpg" alt="Catering" />
                <div class="overlay"></div>
                <h3>
                  We create sensations and we are<br />always ready for event
                  organization
                </h3>
              </div>
            </div>
          </div>

          <div class="card-content col j-end">
            <h2>High level catering</h2>
            <p ng-hide="mobile">
              Our high level catering division that operates under the Gourmet
              Paradís Catering brand has central kitchens in different parts of
              Spain, and logistics centers with a wide range of material for
              catering, events and ephemeral decoration. The premise is,
              however, to provide all events that organize a unique and
              personalized style always respecting the needs of the client, the
              peculiarities of the environment and high levels of quality.
            </p>
          </div>
        </div>

        <div class="swiper-slide row card">
          <div class="bg">
            <div class="swiper-wrapper">
              <img
                src="./assets/img/service1.jpg"
                alt="Service"
                class="swiper-slide"
              />
              <img
                src="./assets/img/service2.jpg"
                alt="Service"
                class="swiper-slide"
              />
              <img
                src="./assets/img/service3.jpg"
                alt="Service"
                class="swiper-slide"
              />
            </div>
          </div>
          <div class="overlay"></div>

          <div class="card-content col j-end">
            <h2>Service</h2>
            <p ng-hide="mobile">
              A highly trained and cohesive human team allows us to move with
              agility and imagination.
            </p>
          </div>
        </div>

        <div class="swiper-slide row card">
          <div class="bg">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img src="./assets/img/food1.jpg" alt="Food" />
                <div class="overlay"></div>
                <div class="col list">
                  <h2>Finger Food</h2>
                  <h4>Cocktail</h4>
                  <h4>Coffee Break</h4>
                  <h4>Gala Dinner</h4>
                  <h4>Buffet</h4>
                  <h4>Topic & Customed</h4>
                </div>
              </div>
              <div class="swiper-slide">
                <img src="./assets/img/food2.jpg" alt="Food" />
                <div class="overlay"></div>
                <div class="col list">
                  <h4>Finger Food</h4>
                  <h2>Cocktail</h2>
                  <h4>Coffee Break</h4>
                  <h4>Gala Dinner</h4>
                  <h4>Buffet</h4>
                  <h4>Topic & Customed</h4>
                </div>
              </div>
              <div class="swiper-slide">
                <img src="./assets/img/food3.jpg" alt="Food" />
                <div class="overlay"></div>
                <div class="col list">
                  <h4>Finger Food</h4>
                  <h4>Cocktail</h4>
                  <h2>Coffee Break</h2>
                  <h4>Gala Dinner</h4>
                  <h4>Buffet</h4>
                  <h4>Topic & Customed</h4>
                </div>
              </div>
              <div class="swiper-slide">
                <img src="./assets/img/food4.jpg" alt="Food" />
                <div class="overlay"></div>
                <div class="col list">
                  <h4>Finger Food</h4>
                  <h4>Cocktail</h4>
                  <h4>Coffee Break</h4>
                  <h2>Gala Dinner</h2>
                  <h4>Buffet</h4>
                  <h4>Topic & Customed</h4>
                </div>
              </div>
              <div class="swiper-slide">
                <img src="./assets/img/food5.jpg" alt="Food" />
                <div class="overlay"></div>
                <div class="col list">
                  <h4>Finger Food</h4>
                  <h4>Cocktail</h4>
                  <h4>Coffee Break</h4>
                  <h4>Gala Dinner</h4>
                  <h2>Buffet</h2>
                  <h4>Topic & Customed</h4>
                </div>
              </div>
              <div class="swiper-slide">
                <img src="./assets/img/food6.jpg" alt="Food" />
                <div class="overlay"></div>
                <div class="col list">
                  <h4>Finger Food</h4>
                  <h4>Cocktail</h4>
                  <h4>Coffee Break</h4>
                  <h4>Gala Dinner</h4>
                  <h4>Buffet</h4>
                  <h2>Topic & Customed</h2>
                </div>
              </div>
              <div class="swiper-slide">
                <img src="./assets/img/food7.jpg" alt="Food" />
                <div class="overlay"></div>
                <div class="col list">
                  <h4>Finger Food</h4>
                  <h4>Cocktail</h4>
                  <h4>Coffee Break</h4>
                  <h4>Gala Dinner</h4>
                  <h2>Buffet</h2>
                  <h4>Topic & Customed</h4>
                </div>
              </div>
              <div class="swiper-slide">
                <img src="./assets/img/food8.jpg" alt="Food" />
                <div class="overlay"></div>
                <div class="col list">
                  <h4>Finger Food</h4>
                  <h4>Cocktail</h4>
                  <h4>Coffee Break</h4>
                  <h2>Gala Dinner</h2>
                  <h4>Buffet</h4>
                  <h4>Topic & Customed</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </section>

  <section class="swiper-slide" id="gastrolab">
    <div class="title col">
      <h1>Gastrolab</h1>
      <img class="ornament" src="./assets/img/title.svg" alt="Ornament" />
    </div>

    <div class="gastrolab">
      <div class="swiper-wrapper">
        <div class="swiper-slide row card">
          <div class="overlay"></div>

          <div class="video col f-center">
            <div class="video-overlay"></div>
            <video
              playsinline
              autoplay
              loop
              id="videoBg"
              src="../../assets/img/gastrolab.mp4"
              type="video/mp4"
            ></video>
          </div>

          <div class="card-content col j-end">
            <h2>I+D</h2>
            <p ng-hide="mobile">
              Gastrolab is our laboratory I+D. Our expirience allows us to
              innovate and discover new forms of expressions, which we then take
              to all our services.
            </p>
          </div>
        </div>

        <div class="swiper-slide row card">
          <div class="bg">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img src="./assets/img/lab1.jpg" alt="Gastrolab" />
                <div class="overlay"></div>
                <div class="col list">
                  <h2>Vegan & Crudivegan</h2>
                  <h4>Meat & Fish</h4>
                  <h4>Desserts</h4>
                  <p>For more information</p>
                  <button ng-click="contact()" class="pri outline semi">
                    Contact us
                  </button>
                </div>
              </div>
              <div class="swiper-slide">
                <img src="./assets/img/lab2.jpg" alt="Gastrolab" />
                <div class="overlay"></div>
                <div class="col list">
                  <h4>Vegan & Crudivegan</h4>
                  <h2>Meat & Fish</h2>
                  <h4>Desserts</h4>
                  <p>For more information</p>
                  <button ng-click="contact()" class="pri outline semi">
                    Contact us
                  </button>
                </div>
              </div>
              <div class="swiper-slide">
                <img src="./assets/img/lab3.jpg" alt="Gastrolab" />
                <div class="overlay"></div>
                <div class="col list">
                  <h4>Vegan & Crudivegan</h4>
                  <h4>Meat & Fish</h4>
                  <h2>Desserts</h2>
                  <p>For more information</p>
                  <button ng-click="contact()" class="pri outline semi">
                    Contact us
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
    </div>
  </section>

  <section class="swiper-slide" id="weare">
    <div class="title col">
      <h1>We are what we eat</h1>
      <img class="ornament" src="./assets/img/title.svg" alt="Ornament" />
    </div>

    <div class="weare">
      <div class="swiper-wrapper">
        <div class="swiper-slide row card">
          <div class="bg">
            <div class="swiper-wrapper">
              <img
                src="./assets/img/ecologic1.jpg"
                alt="Ecologic"
                class="swiper-slide"
              />
              <img
                src="./assets/img/ecologic2.jpg"
                alt="Ecologic"
                class="swiper-slide"
              />
              <img
                src="./assets/img/ecologic3.jpg"
                alt="Ecologic"
                class="swiper-slide"
              />
            </div>
          </div>

          <div class="overlay"></div>

          <div class="card-content col j-end">
            <h2>
              Ecological products, <br />
              own gardens
            </h2>
            <p ng-hide="mobile">
              Each substance that contains the food ends up in our cells,
              improving our health and even our state of mind. Our agricultural
              production is totally ecological.
            </p>
          </div>
        </div>

        <div class="swiper-slide row card">
          <div class="bg">
            <div class="swiper-wrapper">
              <img
                src="./assets/img/responsable1.jpg"
                alt="Responsable"
                class="swiper-slide"
              />
              <img
                src="./assets/img/responsable2.jpg"
                alt="Responsable"
                class="swiper-slide"
              />
              <img
                src="./assets/img/responsable3.jpg"
                alt="Responsable"
                class="swiper-slide"
              />
              <img
                src="./assets/img/responsable4.jpg"
                alt="Responsable"
                class="swiper-slide"
              />
            </div>
          </div>

          <div class="overlay"></div>

          <div class="logos flex j-end a-start">
            <img src="../../assets/img/la-morana.png" alt="La Morana" />
            <img src="../../assets/img/ccpae.svg" alt="CCPAE" />
          </div>

          <div class="card-content col j-end">
            <h3>100% Ecologic & natural</h3>
            <h2>La Morana</h2>
            <p ng-hide="mobile">
              In La Morana we want to do our bit to this way of living
              respecting the cycles of the earth and nature, reaching people
              with plant and animal products in the best conditions of aging,
              conservation and flavor. This is our reason for being, and our
              humble way of giving back to nature all that it gives us.
            </p>
          </div>
        </div>
      </div>

      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </section>

  <section class="swiper-slide" id="seal">
    <div class="title col">
      <h1>We are what we eat</h1>
      <img class="ornament" src="./assets/img/title.svg" alt="Ornament" />
    </div>

    <div class="seal">
      <div class="card row">
        <div class="card-content col j-end">
          <h2>
            Star Seal
          </h2>
          <p ng-hide="mobile">
            These are some of the stars that have been with us all of this
            years.
          </p>
        </div>

        <div class="col f-center book">
          <div id="flipbook">
            <div><img src="../../assets/img/page1.jpg" alt="Star Seal" /></div>
            <div><img src="../../assets/img/page2.jpg" alt="Star Seal" /></div>
            <div><img src="../../assets/img/page3.jpg" alt="Star Seal" /></div>
            <div><img src="../../assets/img/page4.jpg" alt="Star Seal" /></div>
            <div><img src="../../assets/img/page5.jpg" alt="Star Seal" /></div>
          </div>

          <div class="row j-center">
            <button ng-click="turnPrev()" class="pri outline semi">Prev</button>
            <button ng-click="turnNext()" class="pri outline semi">Next</button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="swiper-slide" id="spaces">
    <div class="title col">
      <h1>Spaces & Colaborations</h1>
      <img class="ornament" src="./assets/img/title.svg" alt="Ornament" />
    </div>

    <div class="spaces">
      <div class="swiper-wrapper">
        <div class="swiper-slide row card perfect">
          <div class="bg">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img src="./assets/img/space1.jpg" alt="Spaces & Colaborations" />
                <div class="overlay"></div>
                <h3>Catering FC Catering 7 years</h3>
              </div>
              <div class="swiper-slide">
                <img src="./assets/img/space2.jpg" alt="Spaces & Colaborations" />
                <div class="overlay"></div>
                <h3>Family Day SEAT 55.000 Pax</h3>
              </div>
              <div class="swiper-slide">
                <img src="./assets/img/space3.jpg" alt="Spaces & Colaborations" />
                <div class="overlay"></div>
                <h3>Final Four Basket 2.500pax</h3>
              </div>
              <div class="swiper-slide">
                <img src="./assets/img/space4.jpg" alt="Spaces & Colaborations" />
                <div class="overlay"></div>
                <h3>Fan Boulevard Trofeo CONDE GODO 20.000pax</h3>
              </div>
              <div class="swiper-slide">
                <img src="./assets/img/space5.jpg" alt="Spaces & Colaborations" />
                <div class="overlay"></div>
                <h3>Hospitality VIP WORLDBASKET 2.500pax</h3>
              </div>
              <div class="swiper-slide">
                <img src="./assets/img/space6.jpg" alt="Spaces & Colaborations" />
                <div class="overlay"></div>
                <h3>Cocktail Repsol 1.300pax</h3>
              </div>
              <div class="swiper-slide">
                <img src="./assets/img/space7.jpg" alt="Spaces & Colaborations" />
                <div class="overlay"></div>
                <h3>Cocktail dinner Congress against HIV 12.000pax</h3>
              </div>
              <div class="swiper-slide">
                <img src="./assets/img/space8.jpg" alt="Spaces & Colaborations" />
                <div class="overlay"></div>
                <h3>Anniversary EL CORTE INGLES 5.000pax</h3>
              </div>
            </div>
          </div>

          <div class="card-content col j-end">
            <h2>The perfect place</h2>
            <p ng-hide="mobile">
              With presence in all cities of Spain, we are already a national
              leader in the organization of events, with average more than 5000
              events a year，offering different types of services for 250,000
              clients per month, and currently manage more than 300 spaces.
            </p>
          </div>
        </div>

        <div class="swiper-slide row card customers">
          <div class="overlay full"></div>

          <div class="card-content col j-end">
            <h2>Customers who<br />trust on us</h2>
            <p ng-hide="mobile">
              After so many years, we have had the opportunity to work for the
              most demanding clients, and meet their needs.
            </p>
            <ul ng-hide="true">
              <li>Catering FC Catering 7 years</li>
              <li>Family Day SEAT 55.000 Pax</li>
              <li>Final Four Basket 2.500pax</li>
              <li>Fan Boulevard Trofeo CONDE GODO 20.000pax</li>
              <li>Hospitality VIP WORLDBASKET 2.500pax</li>
              <li>Cocktail Repsol 1.300pax</li>
              <li>Cocktail dinner Congress against HIV 12.000pax</li>
              <li>Anniversary EL CORTE INGLES 5.000pax</li>
              <li>Congress MICROSOFT 6.500pax</li>
              <li>CUP DAVIS Cocktail 12.000pax</li>
              <li>Buffet GRAN PREMIO F1 Barcelona 1.250pax</li>
              <li>Presentation GROUP MAZDA 3.000pax</li>
              <li>CHRISTMAS DINNER of MANGO 1.600pax</li>
              <li>Cocktail of Barcelona City Hall 1.300pax</li>
              <li>Dinner BBVA 1.480pax</li>
              <li>Cocktail Fundation ESADE 1.950pax</li>
              <li>Open Bar Salon Auto SEAT 2.000pax</li>
              <li>Cocktail presentation SEAT IBIZA 3.000pax</li>
              <li>Catering official MOTO GP</li>
              <li>Catering Conference European BCN 1.800pax</li>
              <li>Anniversary NISSAN 9.500pax</li>
              <li>SAP Convention 7.000pax</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </section>

  <section class="swiper-slide" id="contact">
    <div class="title col">
      <h1>Contact Us</h1>
      <img class="ornament" src="./assets/img/title.svg" alt="Ornament" />
    </div>

    <div class="contact">
      <div class="swiper-wrapper">
        <div class="swiper-slide row card">
          <div class="overlay"></div>

          <div class="card-content col j-end contact-bg">
            <h2>España</h2>
            <p>
              BARCELONA
            </p>
            <a href="mailto:info@newparadis.com">info@newparadis.com</a>
            <a href="tel:0034937714027">+34 93 771 4027</a>
            <br />
            <p>
              MADRID
            </p>
            <a href="mailto:comercialmad@newparadis.com"
              >comercialmad@newparadis.com</a
            >
            <a href="tel:0034914297303">+34 91 429 7303</a>
          </div>
          <div class="card-content col j-end">
            <h2>Chengdu</h2>
            <p>
              Office 2803
              <br />
              Yintai Center Tower 3
              <br />
              Tianfu Avenue No.1199
              <br />
              Chengdu, China
            </p>
            <br />
            <a href="mailto:cha@newparadis.com">cha@newparadis.com</a>
            <a href="tel:008613395457018">+86 133 9545 7018</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
