@import "../../assets/scss/vars";

.home-box {
  #paradis {
    .content {
      img {
        padding: 0 40px;
      }

      p {
        text-align: center;

        &:first-of-type {
          margin-bottom: 20px;
        }
      }
    }
  }

  #seal {
    margin-bottom: 0;
  }

  .book-wrapper {
    margin-bottom: 10%;
  }

  #spaces {
    .img-wrapper {
      width: 100%;
      height: 60vh;
    }
  }

  #contact {
    .end {
      margin-bottom: 0;
    }

    .contact-left,
    .contact-right {
      width: 100% !important;
      border: none !important;
    }

    .contact-left {
      border-bottom: 2px solid $pri !important;
    }
  }
}
