@import "../../assets/scss/vars";

.home-box {
  h1 {
    font-size: 60px;
  }

  #home {
    margin-bottom: 10vh;

    .logo {
      width: 70%;
    }

    .social {
      left: 0;
      right: 0;
      margin: 0 auto;
      justify-content: center;
    }

    .scroller {
      bottom: 100px;
    }
  }

  #teaser {
    height: auto;
    margin-bottom: 10vh;

    h1 {
      margin-top: 0;
    }

    iframe {
      width: 85%;
      height: 25vh;
      margin: 0 auto;
    }
  }

  #sinopsis {
    margin-bottom: 50px;

    p {
      font-size: 16px;
      line-height: 1.4;
    }
  }

  #proyecto {
    margin-bottom: 50px;

    p {
      font-size: 16px;
      line-height: 1.8;
      text-align: center;

      &:first-of-type {
        margin-bottom: 30px;
      }
    }
  }

  #situacion {
    margin-bottom: 50px;

    h1 {
      width: 100%;
      text-align: center;
      margin-bottom: 40px;
      padding: 0;
    }

    p {
      width: 100%;
      text-align: center;
      line-height: 1.6;
      padding: 0;
    }
  }

  #financiacion {
    margin-bottom: 50px;

    h1 {
      font-size: 50px;
    }

    p {
      width: 100%;
      font-size: 16px;
    }

    .first {
      margin-bottom: 50px;
    }

    .data {
      margin-bottom: 40px;
    }
  }

  #partners {
    margin-bottom: 50px;
  }

  #contacto {
    footer {
      .logo {
        width: 60%;
      }

      .contact {
        text-align: center;
        line-height: 1.8;
      }
    }
  }
}
