@import "../../assets/scss/vars";

.legal-box {
  .content {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 200px 0;
    color: #fff;

    .logo {
      width: 70%;
      max-width: 500px;
      margin-bottom: 160px;
    }

    h1 {
      font-size: 80px;
      background: transparent url("../../assets/img/smoke.gif") no-repeat center;
      background-size: cover;
      background-clip: text;
      color: transparent !important;
      filter: saturate(0) contrast(100%);
      margin-bottom: 40px;

      &:last-of-type {
        padding-top: 160px;
      }
    }

    p,
    a {
      text-align: justify;
      font-size: 16px;
      line-height: 1.6;
    }

    a {
      text-decoration: underline;
    }

    b {
      font-family: "Circular Std";
      font-weight: bold;
      font-size: 24px;
    }
  }
}

.menu-hide {
  display: none;
}

.back-btn {
  cursor: pointer;
  position: fixed;
  top: 0;
  left: -15px;
  bottom: 0;
  margin: auto 0;
  height: 300px;
  opacity: 0.2;
  transition: 0.5s;
  z-index: 99;

  &:hover {
    left: 0;
    transform: scale(1.2);
    transform-origin: left;
  }
}
