@import "../../assets/scss/vars";

.legal-box {
  .content {
    width: 75%;
    padding: 60px 0;

    .logo {
      margin-bottom: 5vh;
    }

    h1 {
      font-size: 40px;
      
      &:last-of-type {
        padding-top: 10vh;
      }
    }

    p {
      text-align: left;
    }
  }
}

.back-btn {
  top: 40px;
  left: -5px;
  margin: 0;
  height: 150px;
}
