<div ng-if="welcome" class="welcome flex f-center"></div>

<img ng-click="scrollTo(0)" src="../../assets/img/logo-menu.svg" alt="Paradis Chengdu" class="logo" />

<ul class="menu row j-end a-center">
  <li ng-if="lang === 'es'" ng-click="scrollTo(1)">Desde 1967</li>
  <li ng-if="lang === 'es'" ng-click="scrollTo(2)">Catering y Eventos</li>
  <li ng-if="lang === 'es'" ng-click="scrollTo(3)">Gastrolab</li>
  <li ng-if="lang === 'es'" ng-click="scrollTo(4)">Somos lo que comemos</li>
  <li ng-if="lang === 'es'" ng-click="scrollTo(5)">Sello Estrella</li>
  <li ng-if="lang === 'es'" ng-click="scrollTo(6)">Videos</li>
  <li ng-if="lang === 'es'" ng-click="scrollTo(7)">Espacios y Colaboraciones</li>
  <li ng-if="lang === 'es'" ng-click="scrollTo(8)">Contacta</li>

  <li ng-if="lang === 'en'" ng-click="scrollTo(1)">Since 1967</li>
  <li ng-if="lang === 'en'" ng-click="scrollTo(2)">Catering & Events</li>
  <li ng-if="lang === 'en'" ng-click="scrollTo(3)">Gastrolab</li>
  <li ng-if="lang === 'en'" ng-click="scrollTo(4)">We are what we eat</li>
  <li ng-if="lang === 'en'" ng-click="scrollTo(5)">Star Seal</li>
  <li ng-if="lang === 'en'" ng-click="scrollTo(6)">Videos</li>
  <li ng-if="lang === 'en'" ng-click="scrollTo(7)">Spaces & Colaborations</li>
  <li ng-if="lang === 'en'" ng-click="scrollTo(8)">Contact us</li>

  <li ng-if="lang === 'ch'" ng-click="scrollTo(1)">自1967年以来</li>
  <li ng-if="lang === 'ch'" ng-click="scrollTo(2)">餐饮与活动</li>
  <li ng-if="lang === 'ch'" ng-click="scrollTo(3)">Gastrolab</li>
  <li ng-if="lang === 'ch'" ng-click="scrollTo(4)">我们就是吃的东西</li>
  <li ng-if="lang === 'ch'" ng-click="scrollTo(5)">星海豹</li>
  <li ng-if="lang === 'ch'" ng-click="scrollTo(6)">影片</li>
  <li ng-if="lang === 'ch'" ng-click="scrollTo(7)">空间与合作</li>
  <li ng-if="lang === 'ch'" ng-click="scrollTo(8)">联系我们</li>

  <li ng-click="changeLang()" class="lang flex f-center">
    <img ng-src="../../assets/img/{{ lang }}.svg" alt="{{ lang }}" />
    {{ lang.toUpperCase() }}
  </li>
</ul>

<div class="burger" ng-click="switchMenu()"><i class="fas fa-ellipsis-v"></i></div>

<div ng-if="mobile" class="mob-menu col f-center">
  <ul class="col a-center">
    <li ng-if="lang === 'es'" ng-click="scrollTo(1)">Desde 1967</li>
    <li ng-if="lang === 'es'" ng-click="scrollTo(2)">Catering y Eventos</li>
    <li ng-if="lang === 'es'" ng-click="scrollTo(3)">Gastrolab</li>
    <li ng-if="lang === 'es'" ng-click="scrollTo(4)">Somos lo que comemos</li>
    <li ng-if="lang === 'es'" ng-click="scrollTo(5)">Sello Estrella</li>
    <li ng-if="lang === 'es'" ng-click="scrollTo(6)">Videos</li>
    <li ng-if="lang === 'es'" ng-click="scrollTo(7)">Espacios y Colaboraciones</li>
    <li ng-if="lang === 'es'" ng-click="scrollTo(8)">Contacta</li>

    <li ng-if="lang === 'en'" ng-click="scrollTo(1)">Since 1967</li>
    <li ng-if="lang === 'en'" ng-click="scrollTo(2)">Catering & Events</li>
    <li ng-if="lang === 'en'" ng-click="scrollTo(3)">Gastrolab</li>
    <li ng-if="lang === 'en'" ng-click="scrollTo(4)">We are what we eat</li>
    <li ng-if="lang === 'en'" ng-click="scrollTo(5)">Star Seal</li>
    <li ng-if="lang === 'en'" ng-click="scrollTo(6)">Videos</li>
    <li ng-if="lang === 'en'" ng-click="scrollTo(7)">Spaces & Collaborations</li>
    <li ng-if="lang === 'en'" ng-click="scrollTo(8)">Contact us</li>

    <li ng-if="lang === 'ch'" ng-click="scrollTo(1)">自1967年以来</li>
    <li ng-if="lang === 'ch'" ng-click="scrollTo(2)">餐饮与活动</li>
    <li ng-if="lang === 'ch'" ng-click="scrollTo(3)">Gastrolab</li>
    <li ng-if="lang === 'ch'" ng-click="scrollTo(4)">我们就是吃的东西</li>
    <li ng-if="lang === 'ch'" ng-click="scrollTo(5)">星海豹</li>
    <li ng-if="lang === 'ch'" ng-click="scrollTo(6)">影片</li>
    <li ng-if="lang === 'ch'" ng-click="scrollTo(7)">空间与合作</li>
    <li ng-if="lang === 'ch'" ng-click="scrollTo(8)">联系我们</li>
  </ul>

  <div class="col submenu">
    <div class="col a-center contact">
      <p ng-if="lang === 'es'">Oficina 2803, Yintai Center Tower 3, Tianfu Avenida No.1199, Chengdu, China</p>
      <p ng-if="lang === 'en'">Office 2803, Yintai Center Tower 3, Tianfu Avenue No.1199, Chengdu, China</p>
      <p ng-if="lang === 'ch'">办公室2803，银泰中心大厦3，天府大道1199号，成都，中国</p>

      <a href="mailto:catering_dir@paradischengdu.com">catering_dir@paradischengdu.com</a>
      <a href="tel:008617702877690">+86 17702877690</a>
    </div>
  </div>
</div>